@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap:100,200,300,400,500,600,700');


/* General */

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    letter-spacing: 3px;
    text-align: center;
}

#maincontainer {
    margin: 0;
    padding: 0px;
}


#introcontainer {
    height: 100vh;

    position: relative;
    
    background: url(../images/flower_main_big.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    align-items: center;
    justify-content: center;
}

#shopcontainer {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;

}

#aboutcontainer {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 30px;
    padding-bottom: 0px;
    justify-content: center;
}


#contactcontainer {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #b04d87;
}


#socialcontainer {
    padding-top: 0px;
    padding-bottom: 20px;
}

.spacecontainer {
    height: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#flowerlogo {
    height: 25px;
    width: 100px;
}

#bottomspace {
    padding-bottom: 80px;
}

.flowerlogo {
    height: 25px;
    width: 100px;
}



/* Navbar */


#navbarNavDropdown {
    font-size: 18px;
}

#navcontainer {
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 20px;
    z-index: 1;
    background-color: #808080;
}


#navbarbrand {
    width: 200px;
    height: 110px;
}

#wildbunchlogo {
    padding: 10px;
    max-width: 170px;
    height: auto;
}



/* Home Page */

#intro {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

#shopbutton2 {
    text-decoration: none;
    padding-top: 40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
}

#shopbutton2:hover {
    color: #fff;
    background-color: #b04d87;
    border: 0;
    transition: .5s ease-in-out;
}

/* Shopping page */

#shoppage {
    height: 125px;
    padding-bottom: 30px;
    padding-top: 60px;
}

.head2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 30px;
}

#subhead {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.flower {
    width: 100%;
    padding-bottom:10px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #808080;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.flower:hover .image{
  opacity: 0.7;
}

.flowername {
    font-weight: 100;
    font-size: 16px;
    color: #808080;
    padding-top: 10px;
    margin-bottom: 0;
}

.flowerprice {
    font-weight: 100;
    color: #808080;
    font-size: 13px;
    margin-bottom: 1px;
}

.flower-prices {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #808080;
    text-align: center;
    font-size: 3px;
    padding-top: 0px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

.custom-select {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #808080;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    }
    

/* About Us & Contact Us */

#aboutpage {
    height: 125px;
    padding-bottom: 30px;
    padding-top: 60px;
}

#contactpage {
    height: 125px;
    padding-bottom: 40px;
    padding-top: 60px;
}

.abouthead {
    padding-bottom: 7px;
    padding-top: 15px;
}

#subheadabout {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.contacthead {
    padding-bottom: 7px;
    color: #fff;
}

.emailtext {
    padding-bottom: 30px;
    color: #fff;
}


#email {
    color: #fff;
    text-decoration: none;
      transition: .25s ease;
}

#email:hover {
    padding-bottom: 30px;
    color: #808080;
}

#map {
     width: 100%;
     height: 400px;
     font-size: 40px;
     border: 0;
}



/* Footer Social */

footer {
    color: #fff;
    text-align: center;
    min-height: 60px;
    margin: 0;
}


.sociallinks {
    padding-top: 35px;
    padding-bottom: 15px;
    color: #808080;
}

.sociallinks li a i {
    width: 40px;
    height: 40px;
    padding: 20px 10px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 4px;
    text-align: center;
    color: #fff;
    background: #808080;

}

.sociallinks li a i:hover {
    background: #b04d87;
}

#backtotopbutton{
    color: #fff;
    background-color: #b04d87;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#backtotopbutton:hover {
    color: #fff;
    background-color: #808080;
    border: 0;
}



/* Modal Pages */


#modaltitle {
    text-align: center;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    align-items: center;
}

.flower-image {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.flowercontainer {
    padding-top: 20px;
    position: relative;
    background-color: #fff;
    text-align: center;
}

.flower-text{
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
}

.button {
    text-align: center;
}

.buy-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
}

.buy-button:hover {
    color: #fff;
    background-color: #b04d87;
    border: 0;
    transition: .5s ease;
}