@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap:100,200,300,400,500,600,700');


/* General */

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    letter-spacing: 3px;
}

.body{
    text-align: center;
}

.white-text {
    color: #fff;
}

.intro-container {
    height: 100vh;

    position: relative;
    
    background: url(../images/flower_main_big.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-container {
    height: 100%;
    padding-top: 30px;
    background-color: #fff;
}

.about-container {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#subheadabout {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 40px;
}

.contact-container {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #808080;
}


.social-container {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #fff;
}

.space-container {
    height: 20px;
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#flowerlogo {
    height: 25px;
    width: 100px;
}

#bottomspace {
    padding-bottom: 80px;
}

.flowerlogo {
    height: 25px;
    width: 100px;
}

/* Navbar */

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.navbar .navbar-toggler {
    border: 0;
}

#navbarbrand {
    width: 200px;
    height: 110px;
}

#wildbunchlogo {
    max-width: 200px;
    max-height: auto;
}

/* Home Page */

#intro {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

#shopbutton {
    align-items: center;
    justify-content: center;
}

.round-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
    

}

.round-button:hover {
    color: #fff;
    background-color: #660066;
    border: 0;
}

/* Shopping page */

.Head2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
}

#subhead {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
}

.flower {
    width: 100%;
    padding-bottom:10px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #808080;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.flower:hover .image{
  opacity: 0.7;
}

.flowername {
    padding-top: 10px;
}

.flower-prices {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #808080;
    text-align: center;
    font-size: 3px;
    padding-top: 0px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}

.custom-select {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #808080;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    
}

/* Contact Us */

#email {
    color: #fff;
    text-decoration: none;
}

#map {
     width: 100%;
     height: 400px;
     font-size: 40px;
     border: 0;
}

/* Footer Social */

footer {
    background-color: #fff;
    color: #fff;
    text-align: center;
    min-height: 60px;
    margin: 0;
}


.social-links {
    padding-top: 35px;
    padding-bottom: 15px;
    color: #808080;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 20px 10px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 4px;
    text-align: center;
    color: #fff;
    background: #808080;

}

.social-links li a i:hover {
    background: #660066;
}

#backtotopbutton{
    color: #fff;
    background-color: #660066;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#backtotopbutton:hover {
    color: #fff;
    background-color: #808080;
    border: 0;
}

/* Flower Pages */


#modaltitle {
    text-align: center;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    align-items: center;
}


.flower-image {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.flowercontainer {
    padding-top: 20px;
    position: relative;
    background-color: #fff;
    text-align: center;
}

.flower-text{
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
    letter-spacing: 3px;
}

.button {
    text-align: center;
}

.buy-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
}

.buy-button:hover {
    color: #fff;
    background-color: #660066;
    border: 0;
}