@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap');


/* General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    letter-spacing: 3px;
    line-height: 22px;
    text-align: center;
}

.row {
    margin: 0;
}


#maincontainer {
    margin: 0;
    padding: 0px;
}

#introcontainer {
    height: 90vh;

    position: relative;
    
    background: url(../images/flower_main_big.jpg) no-repeat center center fixed; 
    background-size: cover;
    
    align-items: center;
    justify-content: center;
}

.spacecontainer {
    height: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#bottomspace {
    padding-bottom: 80px;
}

.flowerlogo {
    height: 25px;
    width: 100px;
}


/* Navbar */


#navbarNavDropdown {
    font-size: 18px;
}

#navcontainer {
    position: sticky;
    width: 98vw;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 20px;
    z-index: 1;
    background-color: #fff;
}

#navbarbrand {
    width: 200px;
    height: auto;
}

#wildbunchlogo {
    padding: 10px;
    max-width: 170px;
    height: auto;
}

.nav-link {
    color: #808080 !important;
}

.nav-link:hover {
    color: #c7a3b1 !important;
    transition: .5s ease-in-out;
}


/* Home Page */


#intro {
    color: #fff;
}

#shopbutton {
    text-decoration: none;
    padding-top: 40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
    cursor: pointer;
}

#shopbutton:hover {
    color: #fff;
    background-color: #c7a3b1;
    border: 0;
    transition: .5s ease-in-out;
}


/* Shopping page */


#shopcontainer {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: center;
}

#shoppage {
    height: 125px;
    padding-bottom: 30px;
    padding-top: 60px;
}

.head {
    padding-top: 15px;
}

.subhead {
    font-size: 20px;
    padding-bottom: 20px;
}

.flower {
    width: 100%;
    padding-bottom:10px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
}

.flower:hover .image{
    opacity: 0.7;
    cursor: pointer;
}

.flowername {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 0;
}

.flowerprice {
    font-size: 13px;
    margin-bottom: 1px;
}

.flower-prices {
    padding-top: 0px;
    padding-bottom: 20px;
}

.custom-select {
    font-size: 12px;
    }
    

/* About Us & Contact Us */


#aboutcontainer {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: center;
}

#contactcontainer {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #c7a3b1;
}

#aboutpage {
    height: 125px;
    padding-bottom: 30px;
    padding-top: 60px;
}

#contactpage {
    height: 125px;
    padding-bottom: 40px;
    padding-top: 60px;
}

.abouthead {
    padding-bottom: 7px;
    padding-top: 15px;
}

.contacthead {
    padding-bottom: 7px;
    color: #fff;
}

.emailtext {
    padding-bottom: 30px;
    color: #fff;
}


#email {
    color: #fff;
    text-decoration: none;
    transition: .25s ease;
}

#email:hover {
    padding-bottom: 30px;
    color: #808080;
}

#map {
     width: 100%;
     height: 600px;
     font-size: 40px;
     border: 0;
}



/* Footer Social */

footer {
    color: #fff;
    text-align: center;
    min-height: 60px;
    margin: 0;
}

#socialcontainer {
    padding-top: 0px;
    padding-bottom: 20px;
}

.sociallinks {
    padding-top: 35px;
    padding-bottom: 15px;
    color: #808080;
}

.sociallinks li a i {
    width: 40px;
    height: 40px;
    padding: 20px 10px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 4px;
    text-align: center;
    color: #fff;
    background: #808080;

}

.sociallinks li a i:hover {
    background: #c7a3b1;
}

#backtotopbutton{
    color: #fff;
    background-color: #c7a3b1;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#backtotopbutton:hover {
    color: #fff;
    background-color: #808080;
    border: 0;
}



/* Modal Pages */


#modaltitle {
    text-align: center;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    align-items: center;
}

.flower-image {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.flowercontainer {
    padding-top: 20px;
    position: relative;
    background-color: #fff;
    text-align: center;
}

.flower-text{
    padding-bottom: 10px;
    text-decoration: none;
}

.button {
    padding-top: 10px;
}

.buynowbutton {
    padding-top: 40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff !important;
    align-items: center;
    justify-content: center;
    background-color: #c7a3b1;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}

.buynowbutton:hover {
    color: #fff !important;
    background-color: #808080;
    border: 0;
    transition: .5s ease-in-out;
}
