@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap:100,200,300,400,500,600,700');


/* ------------------------------------------General */

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
}

.body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
}

.intro-container {
    height: 100vh;

    background: url(./images/flower_main_big.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-container {
    height: 100%;
    padding-top: 30px;
    background-color: #fff;
}

.about-container {
    height: 100%;
    padding-top: 30px;
    background-color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #660066;
}

.social-container {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #fff;
}

.space-container {
        background-color: #fff;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
}


/* ------------------------------------------Home Page */

.navbar-block {
    padding-bottom: 10px;
    background: red;
}

.navbar {
    
}

.intro {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.round-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    background-color: #808080;
}

.round-button:hover {
    color: #fff;
    background-color: #660066;
}

/* ------------------------------------------Shop page */

.Head2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
}

.subhead {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #808080;
    text-align: center;
}

.flower {
    padding-bottom: 30px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: red;
    text-align: center;
    font-size: 12px;
}

.flower-prices {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: red;
    text-align: center;
    font-size: 3px;
    padding-bottom: 10px;
}

/* ------------------------------------------Footer Social */

footer {
    background-color: #fff;
    color: #fff;
    text-align: center;
    min-height: 60px;
    margin: 0;
}


.social-links {
    padding-top: 35px;
    padding-bottom: 15px;
    color: #808080;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 4px;
    text-align: center;
    color: #fff;
    background: #808080;

}

.social-links li a i:hover {
    background: #660066;
}